
<h1>Rechercher un compte par ID</h1>
<form action="/search/accounts/by_id" method="post">
ID du compte: <input type="text" name="account_id" required><br><br>
<input type="submit" value="Rechercher">
</form>
<p><a href="/accounts">Retour à la liste des comptes</a></p>
<p><a href="/">Retour</a></p>